{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

{% image self.banner_image fill-1000x200-c100  as img %}

<div class="w-full border border-black bg-cover" style="background-image: url('{{img.url}}');">
    <div class="container mx-auto rounded-t shadow">
      
      <div class="text-center text-black pb-16">
        <h1 class="font-sans text-3xl">{{ self.banner_title }}</h1>
        <h2 class="font-thin tracking-wide mt-2 mb-4">{{ self.banner_subtitle | richtext }}</h2>
    
        {% if self.banner_cta %}
            <a href="#" class="rounded bg-orange text-white p-4 font-bold inline-block mb-16">
                Apply Now
            </a>
        {% endif %}
      </div>
    </div>
    
  </div>

{% endblock %}